html {
    scroll-behavior: smooth;
}
body{
    width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    font-family: "Manrope";
    text-align: left;
    letter-spacing: -0.03em;
}
.container {
    width: 1150px;
    margin: 0 auto;
}
h1 {
    font-size: 60px;
    line-height: 60px;
    margin: 10px 10px 50px 10px;
}
h2 {
    font-weight: 400;
    font-size: 45px;
    margin: 10px 10px 50px 10px;
}
h3 {
    font-size: 30px;
}
p {
    font-size: 20px;
}
.section-label {
    font-size: 18px;
    text-transform: uppercase;
}

/* header*/
header {
    display: flex;
    margin: 0 125px;
    margin: 33px 0 70px 0;
    height: 25px;
    justify-content: space-between;
}
.nav a {
    color: #121212;
    margin: 0 0 10px 50px;
}
.nav a:hover {
    opacity: 50%;
}
header .nav a:hover {
    border-bottom: 1px solid #00000050;
}
.hero{
    margin-bottom: 150px;
}
.hero-text {
    display: flex;
    height: 500px;
    background-image: url(../image/img1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    align-items: flex-end;
}
.hero-text p{
    width: 430px;
    height: 81px;
    color: #fff;
    margin: 0px 0px 40px 40px;
}

/* about*/
#about a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 67px;
    border-radius: 5px;
    background-color: #AD1818;
    color: #fff;
}
#about a:hover {
    background-color: #fff;
    color: #AD1818;
    border: 1px solid #AD1818;
}

/* section */
.section  {
    margin-bottom: 150px;
}
.section  .section-label {
    margin-bottom: 40px;
}
.project {
    margin-bottom: 90px;
}
.project img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 15px;
}
.project h3 {
    margin-bottom: 15px;
}
.project a {
    color: #AD1818;
}
.section  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 153px;
    border-radius: 5px;
    font-size: 30px;
    color: #AD1818;
    border: 1px solid #AD1818;
}
.section  button:active {
    background-color: #AD1818;
    color: #fff;
}

/* services*/
#services, #example {
    background-color: #121212;
    color: #fff;
    margin: 0 -125px;
    padding: 0 125px;
}
#services {
    padding-top: 150px;
    padding-bottom: 150px;
}
.service {
    height: 326px;
    margin-bottom: 60px;
}
.service img{
    width: 100%;
    height: 270px;
    object-fit: cover;
    margin-bottom: 15px;
}

/* example*/
#example {
    display: flex;
    height: 717px;
    margin: 0 -125px;
    background-image: linear-gradient( rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4) ),url(../image/example.png);
    background-color: #121212;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    align-items: flex-end;
}

#example h3 {
    width: 443px;
    margin-bottom: 60px;
}

/* contacts*/
.contacts {
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
    line-height: 100%;
    height: 253px;
    margin-top: 150px;
    font-size: 60px;
}
.contacts img{
    margin-bottom: 10px;
    vertical-align: bottom;
}
.contacts h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.phonenumber {
    margin-bottom: 30px;
}
.contacts a {
    color: #121212;
}
.contacts a:hover {
    border-bottom: 2px solid #12121250;
    opacity: 50%;
}

/* footer*/
footer {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center;
    height: 230px;
    margin: 0 -125px;
    background-color: #121212;  
}
footer .sign p {
    display: flex;
    justify-content: center;
    color: #fff;
    opacity: 50%;
}
.footer {
    width: 450px;
    display: flex;
    justify-content: space-between;
}
.footer  a{
    margin: 0;
    color: #fff;  
}